{% import 'macros/form.html' as form %}

<form class="dataset-form form-horizontal" method="post" data-module="basic-form">
  {% block error_summary %}
    {% if error_summary | count %}
      <div class="alert alert-error error-explanation">
        <p>{{ _('The form contains invalid entries:') }}</p>
        <ul>
          {% for key, error in error_summary.items() %}
            <li>{{ key }}: {{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endblock %}

  {% block fields %}
    {{ form.input('name', label=_('Name'), id='field-name', placeholder=_('SLA name '), value=data.name, error=errors.name, classes=['control-full'], is_required=True) }}
    {{ form.input('level', label=_('Level'), id='field-level', placeholder=_('0'), value=data.level, error=errors.level, classes=['control-full'], is_required=True) }}
    {{ form.input('rate_rq_s', label=_('Requests per second'), id='field-rate_rq_s', placeholder=_('0'), value=data.rate_rq_s, error=errors.rate_rq_s, classes=['control-full'], is_required=True) }}
    {{ form.input('speed_bytes_s', label=_('Speed (bytes/s)'), id='field-speed_bytes_s', placeholder=_('0'), value=data.speed_bytes_s, error=errors.speed_bytes_s, classes=['control-full'], is_required=True) }}
    {{ form.input('timeout_s', label=_('Max. execution time'), id='field-timeout_s', placeholder=_('0'), value=data.timeout_s, error=errors.timeout_s, classes=['control-full'], is_required=True) }}
  	{{ form.checkbox('default_for_anonymous_users', label=_('Is default for anonymous users'), checked=data.default_for_anonymous_users, id='field-default_for_anonymous_users', value=true, error=errors.default_for_anonymous_users) }}
  	{{ form.checkbox('default_for_authenticated_users', label=_('Is default for authenticated users'), checked=data.default_for_authenticated_users, id='field-default_for_authenticated_users', value=true, error=errors.default_for_authenticated_users) }}
  {% endblock %}

  <div class="form-actions">
    {% block delete_button %}
    {% if data.id %}
      {% set locale = h.dump_json({'content': _('Are you sure you want to delete this SLA?')}) %}
	  <a class="mybutton" href="{% url_for controller='ckanext.sla.sla:SlaController', action='delete', id=data.id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
    {% endif %}
    {% endblock %}
    {{ form.required_message() }}
    <button class="mybutton" type="submit" name="save">{% block button_text %}{{ _('Save') }}{% endblock %}</button>
  </div>
  {% if data.id %}
      <input type="hidden" name="id" value={{data.id}}>
  {% endif %}
</form>