{% import 'macros/form.html' as form %}

<form class="dataset-form form-horizontal" method="post" data-module="basic-form">
  {% block error_summary %}
    {% if error_summary | count %}
      <div class="alert alert-error error-explanation">
        <p>{{ _('The form contains invalid entries:') }}</p>
        <ul>
          {% for key, error in error_summary.items() %}
            <li>{{ key }}: {{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endblock %}

  {% block fields %}
     {{ form.select('user', label=_('User'), id='field-user', selected=data.user, options=users, error=errors.user) }}
     {{ form.select('sla', label=_('SLA'), id='field-sla', selected=data.sla, options=sla, error=errors.sla) }}
  {% endblock %}
  <div class="form-actions">
    {% block delete_button %}
    {% endblock %}
    <button class="btn btn-primary" type="submit" name="save">{% block button_text %}{{ _('Assign SLA') }}{% endblock %}</button>
  </div>
</form>
