{% import 'macros/form.html' as form %}

  <form class="dataset-form form-horizontal" method="post" data-module="basic-form">
  {% block error_summary %}
    {% if error_summary | count %}
      <div class="alert alert-error error-explanation">
        <p>{{ _('The form contains invalid entries:') }}</p>
        <ul>
          {% for key, error in error_summary.items() %}
            <li>{{ key }}: {{ error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endblock %}

  {% block fields %}
  {% if data.rel_id %}
  	<p>
  	<h3>
  	{{ _('Select appropriate SLA for user ')}}
  	{{ data.user_name }} :
  	</h3>
  	</p>
  {% else %}
     {{ form.select('user', label=_('User'), id='field-user', selected=data.user, options=users, error=errors.user) }}
  {% endif %}
     {{ form.select('sla', label=_('SLA'), id='field-sla', selected=data.sla, options=sla, error=errors.sla) }}
  {% endblock %}
  <div class="form-actions">
    {% block delete_button %}
    {% if data.rel_id %}
<!--       {{ h.nav_link(_('Delete'), controller='ckanext.sla.sla:SlaController', action='delete_relationship', id=data.rel_id, class_='btn') }} -->
      {% set locale = h.dump_json({'content': _('Are you sure you want to remove this relationship?')}) %}
	  <a class="mybutton" href="{% url_for controller='ckanext.sla.sla:SlaController', action='delete_relationship', id=data.rel_id %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
    {% endif %}
    {% endblock %}
    <button class="mybutton" type="submit" name="save">{% block button_text %}{{ _('Assign SLA') }}{% endblock %}</button>
  </div>
    {% if data.rel_id %}
      <input type="hidden" name="rel_id" value={{data.rel_id}}>
      <input type="hidden" name="user" value={{data.user}}>
  {% endif %}
</form>


