{% extends "/sla/base_sla.html" %}
{% block breadcrumb_content %}
	{{ super() }}
	<li>{{ _('Assign SLA') }}</li>
{% endblock %}
{% block primary_content %}
<div class="page-header" style="border-left: 1px solid #d4d4d4;">
<h1 style="padding-left:1em;" >{{ _('SLA Administration') }}</h1>
</div>
{% if data.rel_id %}
<h2>{{ _('Edit SLA of user') }}</h2>
{% else %}
<h2>{{ _('Assign SLA to user') }}</h2>
{% endif %}
{% snippet 'sla/snippets/sla_assign_form.html', users=users, sla=sla, errors=errors, data=data %}
{% endblock %}