{% extends "/sla/base_sla.html" %}
{% block breadcrumb_content %}
	{{ super() }}
	<li>{{ _('Assign SLA') }}</li>
{% endblock %}
{% block primary_content %}
<article class="module">
	<header class="module-content page-header">
		<h1>{{ _('SLA Administration') }}</h1>
	</header>
<div class="module-content">
{% if data.rel_id %}
<h2>{{ _('Edit SLA of user') }}</h2>
{% else %}
<h2>{{ _('Assign SLA to user') }}</h2>
{% endif %}
{% snippet 'sla/snippets/sla_assign_form.html', users=users, sla=sla, errors=errors, data=data %}
</div>
</article>
{% endblock %}