{% extends "/sla/base_sla.html" %}
{% block breadcrumb_content %}
	{{ super() }}
	<li>{{ _('SLA definitions') }}</li>
{% endblock %}
{% block primary_content %}
<article class="module">
<header class="module-content page-header">
<h1>{{ _('SLA definitions') }}</h1>
</header>
<div class="module-content">
<h2>{{ _('Registered SLA') }}</h2>
<table class="table table-striped table-responsive">
	<thead>
      <tr>
        <th>{{_('SLA name')}}</th>
        <th>{{_('Level')}}</th>
        <th>{{_('Requests per second')}}</th>
        <th>{{_('Speed (bytes/s)')}}</th>
        <th>{{_('Max. execution time')}}</th>
      </tr>
    </thead>
<tbody>
{% for sla in registered_sla %}
		<tr>
		<td><a href="{{ h.url_for(controller='ckanext.sla.sla:SlaController', action='sla_detail', id=sla.id)}}">{{ sla.name }}</a></td>
		<td>{{sla.level}}</td>
		<td>{{sla.rate_rq_s}}</td>
		<td>{{sla.speed_bytes_s}}</td>
		<td>{{sla.timeout_s}}</td>
		<td>{{ h.nav_link(_('Edit'), controller='ckanext.sla.sla:SlaController', action='edit', id=sla.id, class_='btn') }}
		{% if sla.default_for_authenticated_users%}
		<span class="control-required" title="{{_('default SLA for authenticated user')}}">P</span>
		{% endif %}
		{% if sla.default_for_anonymous_users%}
		<span class="control-required" title="{{_('default SLA for anonymous user')}}">N</span>
		{% endif %}
		</tr>
{% endfor %}
 </tbody>
</table>
<p class="control-required-message">
    <span class="control-required">P</span> - {{_('default SLA for authenticated user')}}
</p>
<p class="control-required-message">
    <span class="control-required">N</span> - {{_('default SLA for anonymous user')}}
</p>
<p>
{{ h.nav_link(_('Register new SLA'), controller='ckanext.sla.sla:SlaController', action='add', class_='mybutton') }}
</p>
</div>
</article>
{% endblock %}
