{% extends "/sla/base_sla.html" %}
{% block breadcrumb_content %}
	{{ super ()}}
	<li><a href="{{ h.url_for(controller='ckanext.sla.sla:SlaController', action='manage') }}">{{ _('SLA definitions') }}</a></li>
	<li>{{ _('Edit SLA') }}</li>
{% endblock %}
{% block primary_content %}

<div class="page-header" style="border-left: 1px solid #d4d4d4;">
<h1 style="padding-left:1em;" >{{ _('SLA Management') }}</h1>
</div>
<h2>{{ _('Update SLA') }}</h2>
{% snippet 'sla/snippets/sla_form.html', data=data, errors=errors %}
{% endblock %}