{% extends "page.html" %}
{% block subtitle %}{{ _('CKAN - SLA Management') }}{% endblock %}
{% block breadcrumb_content %}
<li>{{ _('SLA Administration') }}</li>
{% endblock %}
{% block primary_content %}
<div class="page-header" style="border-left: 1px solid #d4d4d4;">
<h1 style="padding-left:1em;" >{{ _('SLA Administration') }}</h1>
</div>

<h3 style="font-size: 1.3em;"> <a href="{{ h.url_for(controller='ckanext.sla.sla:SlaController', action='manage') }}"> <i class="fa fa-external-link" ></i> {{_('Edit SLA')}} </a></h3>

{% set users, user_name = h.get_users(data) %}
{% for user in users %}
	<h3><a href="{{ h.url_for(controller='user', action='read', id=user['name']) }}">{{ user['name'] }}</a></h3>
{% endfor %}
{% endblock %}
{% block secondary_content %}
{% endblock %}