{% extends "/sla/base_sla.html" %}
{% block primary_content %}
<article class="module">
<header class="module-content page-header">
<h1>{{ _('SLA Administration') }}</h1>
</header>
<div class="module-content">
<h3 style="font-size: 1.3em;"> <a href="{{ h.url_for(controller='ckanext.sla.sla:SlaController', action='manage') }}"> <i class="fa fa-external-link" ></i> {{_('Edit SLA definitions')}} </a></h3>
<h3 style="font-size: 1.3em;"> <a href="{{ h.url_for(controller='ckanext.sla.sla:SlaController', action='map_user_sla') }}"> <i class="fa fa-external-link" ></i> {{_('Assign SLA to users')}} </a></h3>
{% if results %}
    <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>{{_('User')}}</th>
            <th>{{_('SLA name')}}</th>
          </tr>
        </thead>
    <tbody>
    {% for res in results %}
            <tr>
            <td><h3><a href="{{ h.url_for(controller='user', action='read', id=res['user_id']) }}">{{ res['user_name'] }}</a></h3></td>
            <td><a href="{{ h.url_for(controller='ckanext.sla.sla:SlaController', action='sla_detail', id=res['sla_id'])}}">{{ res['sla_name'] }}</a></td>
            <td><a href="{{ h.url_for(controller='ckanext.sla.sla:SlaController', action='map_user_sla', sla_id=res['sla_id'], user_id=res['user_id'])}}">{{ _('Edit')}}</a></td>
            </tr>
    {% endfor %}
     </tbody>
    </table>
{% else %}
    <p>
    <h3>
    {{ _('There is no mapping of SLA to users. All users have default SLA.') }}
    </h3>
    </p>
{% endif %}
</div>
</article>
{% endblock %}