{% extends "/sla/base_sla.html" %}
{% block breadcrumb_content %}
	{{ super() }}
	<li><a href="{{ h.url_for(controller='ckanext.sla.sla:SlaController', action='manage') }}">{{ _('SLA definitions') }}</a></li>
	<li>{{ _('Detail') }}</li>
{% endblock %}
{% block primary_content %}
<article class="module">
<header class="module-content page-header">
<h1>{{ _('SLA detail') }}</h1>
</header>
<div class="module-content">
{% if data_detail %}
	<p>
	{{_('SLA name')}} : {{ data_detail.name }}
	</p>
	<p>
	{{_('SLA level')}} : {{ data_detail.level }}
	</p>
	<p>
	{{_('Requests per second')}} : {{ data_detail.rate_rq_s}}
	</p>
	<p>
	{{_('Speed (bytes/s)')}} : {{ data_detail.speed_bytes_s}}
	</p>
	<p>
	{{_('Max. execution time')}} : {{ data_detail.timeout_s}}
	</p>
	{% if data_detail.default_for_authenticated_users %}
	<p>
	{{_('This SLA is default for authenticated users')}}
	</p>
	{% endif %}
	{% if data_detail.default_for_anonymous_users %}
	<p>
	{{_('This SLA is default for anonymous users')}}
	</p>
	{% endif %}
	{% if h.check_access('sla_management') %}
	<p>
	{{ h.nav_link(_('Edit'), controller='ckanext.sla.sla:SlaController', action='edit', id=data_detail.id, class_='btn') }}
	</p>
	{% endif %}
{% endif %}
{% if data_users and h.check_access('sla_management') %}
<p>
<h3>
{{ _('Following users are assigned to this SLA:') }}
</h3>
</p>
{% for user in data_users %}
<p>
<h3><a href="{{ h.url_for(controller='user', action='read', id=user.id) }}">{{ user.name }}</a></h3>
{{ h.nav_link(_('Edit'), controller='ckanext.sla.sla:SlaController', action='map_user_sla', sla_id=data_detail.id, user_id=user.id, class_='mybutton') }}
</p>
{% endfor %}
{% endif %}
</div>
</article>
{% endblock %}